# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Dataset
MorningaLeaf_Dataset/
TomatoDataset/
dataset/
*.zip

# Results
checkpoints/
# results/

# Object detection (Ultralytics) artifacts
runs/
datasets/
*.pt
*.onnx
*.engine

# Document
Document/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
